// _07-utilities.demo-and-tests.scss

.bg-test-01 { background-color: aqua; }
.bg-test-02 { background-color: blue; }
.bg-test-03 { background-color: chartreuse; }
.bg-test-04 { background-color: darkorange; }
