// _01-settings.typography.scss

// Import Poppins
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Font Family
  $BOLD_FONT_FAMILY_01: 'Montserrat', sans-serif;

// Font Weights
  $BOLD_FONT_WEIGHT_THIN: 100;
  $BOLD_FONT_WEIGHT_EXTRALIGHT: 200;
  $BOLD_FONT_WEIGHT_LIGHT: 300;
  $BOLD_FONT_WEIGHT_REGULAR: 400;
  $BOLD_FONT_WEIGHT_MEDIUM: 500;
  $BOLD_FONT_WEIGHT_SEMIBOLD: 600;
  $BOLD_FONT_WEIGHT_BOLD: 700;
  $BOLD_FONT_WEIGHT_EXTRABOLD: 800;
  $BOLD_FONT_WEIGHT_BLACK: 900;

// Font Sizes
  $BOLD_FONT_SIZE_XXXS: 12px;
  $BOLD_FONT_SIZE_XXS: 14px;
  $BOLD_FONT_SIZE_XS: 16px;
  $BOLD_FONT_SIZE_SM: 20px;
  $BOLD_FONT_SIZE_MD: 24px;
  $BOLD_FONT_SIZE_LG: 32px;
  $BOLD_FONT_SIZE_XL: 40px;
  $BOLD_FONT_SIZE_XXL: 48px;
  $BOLD_FONT_SIZE_XXXL: 64px;
  $BOLD_FONT_SIZE_DISPLAY: 80px;
  $BOLD_FONT_SIZE_GIANT: 96px;

// Line height
  $BOLD_LINE_HEIGHT_TIGHT: 100%;
  $BOLD_LINE_HEIGHT_MEDIUM: 120%;
  $BOLD_LINE_HEIGHT_DISTANT: 150%;
